#XfceNotifyWindow {
    background-color: #525252;
    border-radius: 1px;
    border: 2px solid #d64937;
}

#XfceNotifyWindow:hover {
    border-color: #d64937;
}

#XfceNotifyWindow label {
    color: #f9f9f9;
    -GtkWidget-link-color: #f0544c;
}

#XfceNotifyWindow label#summary {
    font-weight: bold;
}

#XfceNotifyWindow button {
    border: 1px solid #81C606;
    background-color: #2c2c2c;
    color: #eeeeee;
    font-weight: bold;
}

#XfceNotifyWindow button:hover {
    background-color: #555555;
}

#XfceNotifyWindow button:active {
    background-color: #2d2d2d;
}

#XfceNotifyWindow button:prelight {
    background-color: #d64937;
}

#XfceNotifyWindow progressbar {
    border-radius: 3px;
}

#XfceNotifyWindow progressbar progress {
    min-height: 8px;
    background-image: none;
    background-color: #047C8F;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#eeeeee, 0.65),
                                      shade(#eeeeee, 1.25)
                                      );
    border: 1px solid #81C606;
    min-height: 8px;
}
